.box {
    background-color: #413e3554;
    backdrop-filter: blur(3px);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #838383;
    margin: auto;
}

.box h1 {
    margin: 0px;
    font-size: 2rem;
    text-align: center;
    color: #ddd6b7;

    /* text shadow */
    text-shadow: 3px 3px rgba(0, 0, 0, 0.7);
}

.box p a {
    color: #e9d57f;
    text-decoration: none;
}

.box p {
    margin: 0px;
    font-size: 14px;
    text-align: center;
    color: #E0DDCF;
}

.box form {
    display: flex;
    gap: 10px;
}

.box form input, .box form button{
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
}

.box form input[type="text"] {
    box-sizing: border-box;
    width: 500px;
    border: none;
    background-color: rgb(206, 200, 175);
    font-family: 'Lexend', sans-serif;
    color: #353535;
}

.box form button {
    background-color: #b1a880;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Lexend', sans-serif;
    width: 150px;
}

.box form button:hover {
    filter:brightness(110%);
}

.box form button:active {
    transform: translateY(2px);
}

.box form div {
    position: relative;
}

.box form div p {
    font-size: 14px;
    color: #e64c4c;
    position: absolute;
    bottom: 5px;
    right: 5px;
    user-select: none;
    width: 10px;
    white-space: nowrap;
    overflow: hidden;
    transition: 0.3s;
    text-align: right;
    text-shadow: none;
}

.error {
    width:200px!important;
}

.disabled {
    background-color: #b1a880!important;
    color: white!important;
    cursor:text!important;
}

@media screen and (max-width: 800px) {
    .box {
        padding: 20px;
    }

    .box form input[type="text"] {
        width: 210px;
    }

    .box form button {
        width: 80px;
    }

    .box form button, .box form input {
        padding: 10px 5px;
        font-size: 12px;
    }

    .box form input {
        padding: 10px;
    }
}
